modal-info.ion-page {
    background-color: rgba(0,0,0,0.4) !important;
    // ion-content {
    //     width: 90%;
    //     height: 92%;
    //     top: 4%;
    //     left: 5%;
    //     right: 5%;
    //     bottom: 4%;
    //     border-radius: 5px;
    // }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .radio-md .radio-checked {
        border-color: #7eefdb;
    }

    .radio-md .radio-inner {
        background-color: #7eefdb;
    }

    .item-radio-checked.item-md ion-label {
        color: #7eefdb;
    }
}